<div class="relative bg-gray-200">
  <div class="absolute inset-0 flex flex-col" aria-hidden="true">
    <div class="flex-1 bg-gray-100"></div>
    <div class="flex-1 bg-gray-200"></div>
  </div>
  <div class="relative max-w-5xl mx-auto">
    <div class="flex flex-col min-h-screen lg:flex-row lg:items-center lg:p-8">
      <div class="flex flex-col flex-grow bg-white lg:shadow-2xl lg:rounded-lg lg:overflow-hidden">
        <div class="flex-grow flex flex-col justify-center p-12">
          <div class="flex items-center">
          </div>
          <div class="md:pl-16 pl-0">
            {{#with menu.headers}}
            {{#if name}}
            <h1 class="sm:font-light text-2xl sm:text-3xl md:text-4xl text-gray-900 mt-6">{{name}}</h1>
            {{else}}
            <h1 class="sm:font-light text-2xl sm:text-3xl md:text-4xl text-gray-900 mt-6">Unnamed shop</h1>
            {{/if}}
            <ul>
              {{#if location}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{location}}</li>
              {{/if}}
              {{#if number}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{number}}</li>
              {{/if}}
              {{#if hours}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{hours}}</li>
              {{/if}}
            </ul>
            {{/with}}
          </div>
        </div>
        <div class="bg-gray-100 border-t-2 border-gray-300">
          <div class="flex flex-wrap">
            {{#each menu.sections}}
            <div class="flex flex-col px-12 py-10 w-full border-b-2 border-r border-l border-gray-300">
              <div class="flex flex-grow">
                <div class="leading-relaxed flex flex-col ml-4 md:ml-6">
                  <h2 class="font-medium text-gray-800 text-lg">{{this.name}}</h2>
                  {{#each this.items}}
                  <div class="m-2">
                    <div class="flex flex-row">
                      <h3 class="underline text-gray-800 mt-1 text-md md:text-base">{{this.name}}</h3>
                      <h3 class="text-gray-800 mt-1 text-md md:text-base ml-2">{{this.price}}</h3>
                    </div>
                    <p class="text-gray-800 mt-1 text-sm md:text-base">{{this.description}}</p>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
