<div class="relative bg-gray-200">
  <div class="absolute inset-0 flex flex-col" aria-hidden="true">
    <div class="flex-1 bg-gray-100"></div>
    <div class="flex-1 bg-gray-200"></div>
  </div>
  <div class="relative max-w-5xl mx-auto">
    <div class="flex flex-col min-h-screen lg:flex-row lg:items-center lg:p-8">
      <div class="flex flex-col flex-grow bg-white lg:shadow-2xl lg:rounded-lg lg:overflow-hidden">
        <div class="flex-grow flex flex-col justify-center p-12">
          <div class="flex items-center">
          </div>
          <div class="md:pl-16 pl-0">
            {{#with menu.headers}}
            {{#if name}}
            <h1 class="sm:font-light text-2xl sm:text-3xl md:text-4xl text-gray-900 mt-6">{{name}}</h1>
            {{else}}
            <h1 class="sm:font-light text-2xl sm:text-3xl md:text-4xl text-gray-900 mt-6">Unnamed shop</h1>
            {{/if}}
            <ul>
              {{#if location}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{location}}</li>
              {{/if}}
              {{#if number}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{number}}</li>
              {{/if}}
              {{#if hours}}
              <li class="sm:text-xl text-gray-600 leading-relaxed">{{hours}}</li>
              {{/if}}
            </ul>
            {{/with}}
          </div>
        </div>
        <div class="bg-gray-100 border-t-2 border-gray-200">
          <div class="flex flex-wrap">
            {{#each menu.sections}}
            <div class="flex flex-col px-12 py-10 w-full sm:border-r sm:border-b border-gray-200">
              <div class="flex flex-grow">
                <div class="leading-relaxed flex flex-col ml-4 md:ml-6">
                  <h2 class="font-medium text-gray-800 text-lg">{{this.name}}</h2>
                  <p class="text-gray-600 mt-1 text-sm md:text-base">Get familiar with Tailwind’s utility-first
                    approach and start building awesome stuff.</p>
                  <div class="pt-1 mt-auto">
                    <a class="inline-flex items-center text-teal-600 hover:text-teal-800"
                      href="https://tailwindcss.com/docs">
                      <span class="text-sm md:text-base font-semibold">Explore the docs</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
